body{
    font-family: 'Montserrat', sans-serif;
}

.customColor{
    background-color: #4f00c0
}

.customMenu
{
    box-shadow: none !important;
    color: white !important;
    border-color: white !important;
}